*{
    margin: 0px;
    padding: 0px; 
    
}

button{
    width: 100px;
    height: 50px;
    margin: 80px;
    background-color: yellowgreen;
}

button:active{
    transform: scale(0.90);
}

h1{ 
    color: darkorange;
}

